@charset "utf-8";
/* CSS Document */


.sliate-center{
                float: left;
                margin-right: auto;
                margin-left: auto;
                width: 79%;
                text-align: center;
            }

            #logo-sliate {
                float: left;
                height: 10%;
                width: 100px;
            }

            #logo-gov {
                float: right;
                height: 10%;
                width: 100px;
                text-align: right;
            }